body {
  /* background-image: url("https://media.istockphoto.com/vectors/rubber-duck-childrens-toy-seamless-pattern-vector-id1094651534?k=20&m=1094651534&s=612x612&w=0&h=e8EGu2DvAZX5JcOlUaB31XZA9JcjqRleVra58ILsObU="); */
  background-image: url("./duck.jpg");
  background-size: 25%;
  background-repeat: repeat;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: x-large;
}

.App-container {
  display: flex;
}

.App-container__json-viewer {
  flex: 1;
}

.App-container__renderer {
  flex: 2;
}

.strokeme {
  color: black;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  background-color: palevioletred;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
}

textarea {
  height: 100%;
  width: 100%;
}
